body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    gap: 16px;
}

.header, .footer {
    background: #1f2937;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
}

.headerfull{
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 16px;
}

.headercontent {
    font-size: 48px;
    font-weight: bolder;
    width: 460px; 
}

.subtext {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

#rcorner {
    border-radius: 8px;
    background: #3882f6;
    padding: 8px;
    width: 125px;
    color: #e5e7eb;
    border: none;
    font-weight: bold;
}

.button {
    margin-top: -15px;
}

.placeholder {
    background: gray;
    padding: 100px 130px;
}

.headertwo {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 48px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
}

.imagesubtext {
    text-align: center;
    margin: 10px;
}

#rcorners {
    border-radius: 25px;
    border: 3px solid #3882f6;
    padding: 20px;
    max-width: 200px;
    height: 150px;
}

.quote {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quotecontent {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
    width: 830px;
}

.quoteauthor {
    font-size: 20px;
    font-weight: bold;
    margin-left: 28em;
}

.thirdcontainer {
    background: white;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.smallcontainer {
    border-radius: 10px;
    background: #3882f6;
    height: 100px;
    padding: 30px 150px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.thirdcontent {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.thirdsubtext {
    font-size: 18px;
    font-weight: 100;
}

#rcorner2 {
    border-radius: 8px;
    background: #3882f6;
    padding: 8px;
    width: 125px;
    color: #e5e7eb;
    border: 2px solid white;
    font-weight: bold;
    font-size: large;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}